apiVersion: v1
kind: Service
metadata:
  name: spring-boot-app-service
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: "nlb"
spec:
  type: LoadBalancer
  selector:
    app: spring-boot-app
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
