apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: springboot-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/my-devops-prcatise/java-maven-sonar-argocd-helm-k8s.git
    targetRevision: main
    path: spring-boot-app-manifests

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
